.navbar{
	background-color: #371777;
	color: #fff;
	display: flex;
	justify-content: space-around;
	height: 3rem;
}

.login-signup{
	display: flex;
	justify-content: flex-start;
	font-size: 1rem;
	font-weight: bold;
	height: 30px;
}

.login-signup a{
	color: #fff;
	text-decoration: none;
	
}

.login-signup a:hover,p:hover{
	color: #fff;
	text-decoration: none;
	font-size: 1.1rem;
}





